.swiper-button-next::after,
.swiper-button-prev::after {
  color: #588535dc;
  padding: 10px;
  border-radius: 50%;
  font-size: 1.5rem;
}

.swiper-button-next,
.swiper-button-prev {
  transform: scale(1.2);
  opacity: 0.8 !important;
  transition: all 0.3s !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.4);
  opacity: 1 !important;
}
